@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using System.Web.Script.Serialization
@using System.Text
@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
@section scripts
{
    @Html.IncludeScript("~/Views/Home/Index.js")
}
<h1>@L("WellcomeMessage")</h1>

<div class="jumbotron">
    <h1>ECJ</h1>
    <p class="lead">ECJ, qui veut dire Événements du Cégep de Jonquière, est une entreprise qui crée, gère et applique des événement au Cégep de Jonquière.</p>
</div>

<h3>Mémos</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<table class="table sommaireMemo table-striped table-hover">
    <thead>
        <tr>
            <th>Expéditeur</th>
            <th>Informations</th>
            <th>Envoyé le</th>
            <th>Lien</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ECJ.Web.Models.tblMemo m in ViewBag.memos)
        {
            var Etat = "warning";
            if (m.statut)
            {
                Etat = "";
            }
            <tr class="@Etat" data-id="@m.noMemo">
                <td>@m.AbpUsers1.UserName</td>
                <td>@m.info</td>
                <td>@String.Format("{0:yyyy/MM/dd HH:mm:ss}", m.dateEnvoi)</td>
                <td> <a href="@m.lien">Accéder à la page liée au mémo</a></td>
                <td>
                    <button name="memo_suppr" value="@m.noMemo" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<div class="row">
    <div class="col-md-4">
        <h2>Événements</h2>
        <p>
            Ici contient tous les informations par rapports aux événements. Il est possible de voir chaque événement, ainsi que leurs dates et l'heure de ces derniers.
        </p>
        <p><a class="btn btn-primary" href="/Events/Index">Voir les Événements &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Publicités</h2>
        <p>
            Ici contient tous les informations par rapports aux publicités. Il est possible de voir l'affiche, le média ainsi que la date de la sortie.
        </p>
        <p><a class="btn btn-primary" href="/AppellOffre/Index">Voir les publicitées &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Commanditaires</h2>
        <p>Ici contient tous les informations par rapport aux commanditaires. Il est possible de voir les commanditaires, leurs dons ainsi que leurs logo.</p>
        <p><a class="btn btn-primary" href="/Commanditaire/Index">Voir les commanditaires &raquo;</a></p>
    </div>
</div>
