@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model Abp.Application.Services.Dto.ListResultOutput<ECJ.Users.Dto.UserListDto>
@{
    ViewBag.ActiveMenu = "Users"; //The menu item will be active for this page.
}
@section scripts
{
    @Html.IncludeScript("~/Views/Users/Index.js")
}
<div>
    <h1>@L("Users")</h1>
    <div class="row">

        <div class="col-md-12">
@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "page-header" }))
{
                <div class="input-group">
                    <input class="form-control" type="text" name="recherche" value="@ViewBag.recherche">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">Rechercher</button>
                    </span>
                    <span class="input-group-btn">
                        <a href="/Users/" class="btn btn-default">Vider</a>
                    </span>
                </div>
}
            <a href="/Users/Ajout" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Créer un nouvel utilisateur</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>Nom complet</th>
                        <th>@L("EmailAddress")</th>
                        <th>Activé</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Items)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.FullName</td>
                            <td>@user.EmailAddress</td>
                            <td>@(user.IsActive ? "Oui" : "Non")</td>
                            <td>
                                <a href="/Users/Detail/@user.Id" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="/Users/Modifier/@user.Id" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="/Users/Supprimer/@user.Id" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
