@using Abp.Web.Mvc.Extensions
@model ECJ.Web.Models.tblSalle

@{
    ViewBag.Title = "ViewCalculateur";
}
<h2>Calculateur</h2>

@section scripts
{
    @Html.IncludeScript("~/Views/Calculateur/Index.js")
    @Html.IncludeStyle("~/Views/Calculateur/Index.css") @*Il reste a enlever le curseur par dessus les champs disabled*@
}
<div class="row">
    <form class="form-horizontal">
        <div class="col-md-6" id="calculateur">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="nbBillet">Billets</label>
                                <input type="number" class="form-control" id="nbBillet" onblur="calculBillet()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="prixBillet">Prix</label>
                                <input type="number" class="form-control" id="prixBillet" onblur="calculBillet()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="totalBillet">Total</label>
                                <input class="form-control" id="totalBillet" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="nbBilletVIP">Billets V.I.P</label>
                                <input type="number" class="form-control" id="nbBilletVIP" onblur="calculBilletVIP()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="prixBilletVIP">Prix</label>
                                <input type="number" class="form-control" id="prixBilletVIP" onblur="calculBilletVIP()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="totalBilletVIP">Total</label>
                                <input class="form-control" id="totalBilletVIP" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6" id="salle">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom de la salle</th>
                        <th>Nombre de places V.I.P</th>
                        <th>Nombre de places</th>
                        <th>Coûts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Salle.nomSalle</td>
                        <td id="vip">@ViewBag.Salle.billetVIP</td>
                        <td id="billet">@ViewBag.Salle.billet </td>
                        <td>@ViewBag.Salle.prix </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<form class="form-horizontal">
    <div class="row" id="SouperPlaces">
        <div class="col-md-6" id="souper">
            Souper Spectacle
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="nbBilletSouper">Nombre de places</label>
                                <input type="number" class="form-control" id="nbBilletSouper" onblur="calculSouperSpectacle()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="prixSouper">Prix</label>
                                <input type="number" class="form-control" id="prixSouper" onblur="calculSouperSpectacle()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="totalSouper">Total</label>
                                <input class="form-control" id="totalSouper" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" id="forfaits">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Forfaits inclus</th>
                    </tr>
                    <tr>
                        <td>Souper Spectacle</td>
                    </tr>
                    <tr>
                        <td>Rabais par l'âge</td>
                    </tr>
                    <tr>
                        <td>Réductions de prix</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="col-md-6" id="age" >
        <table class="table">
            Reduction selon les tranches d'âge
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="JeunePourcent">Jeunes % Rabais</label>
                        <input type="number" class="form-control" id="JeunePourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="RatioJeune">Ratio %</label>
                        <input type="number" class="form-control" id="RatioJeune" onblur="calculRabaisAge()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="nbBilletJeune">Nbre de Billets</label>
                        <input class="form-control" id="nbBilletJeune" type="text" disabled="">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="rabaisBilletJeune">Rabais/Billet</label>
                        <input class="form-control" id="rabaisBilletJeune" type="text" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="AdultePourcent">Adultes % Rabais</label>
                        <input type="number" class="form-control" id="AdultePourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="RatioAdulte">Ratio %</label>
                        <input type="number" class="form-control" id="RatioAdulte" onblur="calculRabaisAge()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="nbBilletAdulte">Nbre de Billets</label>
                        <input class="form-control" id="nbBilletAdulte" type="text" disabled="">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="rabaisBilletAdulte">Rabais/Billet</label>
                        <input class="form-control" id="rabaisBilletAdulte" type="text" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="AinePourcent">Ainés % Rabais</label>
                        <input type="number" class="form-control" id="AinePourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="RatioAine">Ratio %</label>
                        <input type="number" class="form-control" id="RatioAine" onblur="calculRabaisAge()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="nbBilletAine">Nbre de Billets</label>
                        <input class="form-control" id="nbBilletAine" type="text" disabled="">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="rabaisBilletAine">Rabais/Billet</label>
                        <input class="form-control" id="rabaisBilletAine" type="text" disabled="">
                    </div>
                </th>
            </tr>
        </table>
    </div>
</form>
<div class="col-md-6" id="carte">
    Carte de l'emplacement de la salle.
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.6453269213494!2d-71.24667188474935!3d48.405753937193936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2dd30e450fd3bd83!2zQ8OpZ2VwIGRlIEpvbnF1acOocmU!5e0!3m2!1sfr!2sca!4v1476204181668" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6" id="rabais" >
            Billet a prix réduits.
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label">Nom du rabais</label>

                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label">Nb de billets</label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" >% de rabais</label>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>Promotionnel</label>
                        </th>
                        <th>
                            <input type="number" class="form-control" id="nbBilletGratuit">
                        </th>
                        <th>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="100%">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>Prévente</label>
                        </th>
                        <th>
                            <input type="number" class="form-control" id="nbBilletPreVente">
                        </th>
                        <th>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="25%">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" class="form-control" id="NomRabaisCustom2">
                        </th>
                        <th>
                            <input type="number" class="form-control" id="NbBilletRabaisCustom1">
                        </th>
                        <th>
                            <input type="number" class="form-control" id="PourcentRabaisCustom1">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" class="form-control" id="NomRabaisCustom2">
                        </th>
                        <th>
                            <input type="number" class="form-control" id="NbBilletRabaisCustom2">
                        </th>
                        <th>
                            <input type="number" class="form-control" id="PourcentRabaisCustom2">
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<form class="form-horizontal">
    <div class="row" id="calculfinal">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Profits total</th>
                        <th>Dépenses total</th>
                    </tr>
                    <tr>
                        <th id="TotFinal">
                            0.00$
                        </th>
                        <th>
                            3500.00$
                        </th>
                    </tr>
                </thead>
            </table>
            <a href="#" class="btn btn-default" onclick="Calcultotal()" >Calculer</a>
        </div>
        <div class="col-md-6" id="map">
            Plan de la salle
            <img src="http://i.imgur.com/2VxTEYs.png" height="700" width="500" />
        </div>
    </div>
</form>
