@using ECJ.Web.Models
@using ECJ.Authorization;
@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "DetailSalles";
}
@section scripts
{
    @Html.IncludeScript("~/Views/Salles/Details.js")
}

<div class="form-group">
    <label>Nom</label>
    <div class="well well-sm" id="nomSalle">
        @ViewBag.Salle.nomSalle
    </div>
</div>
<div class="form-group">
    <label>Prix</label>
    <div class="well well-sm">
        @ViewBag.Salle.prix$
    </div>
</div>
<div class="form-group">
    <label>Billets standard</label>
    <div class="well well-sm">
        @ViewBag.Salle.billet
    </div>
</div>
<div class="form-group">
    <label>Billets VIP</label>
    <div class="well well-sm">
        @ViewBag.Salle.billetVIP
    </div>
</div>
<div class="form-group">
    <label>Plan de la salle</label>
    <div class="well well-sm">
        <img src="@ViewBag.Salle.photoSalle" />
    </div>
</div>
<div class="form-group">
    <label>Carte</label>
    <div class="well well-sm">
        <iframe src="@ViewBag.Salle.urlGoogleMap" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<label>Services offert</label>
@if (ViewBag.ServiceAjoutable.Count > 0)
{

    <button data-target="#ServiceAjoutModal" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un service</button>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nom du service</th>
            <th data-sorter="false">Action</th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm(new { @return = Request.QueryString["return"] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            foreach (var s in ViewBag.Service)
            {
                var SsEvents = ((List<tblSousEvenement>)ViewBag.SousEvent).Where(SsE => SsE.tblService.Contains(s)).ToList();
                var name = "service_suppr";
                string txt = "";

                if (SsEvents.Count != 0)
                {
                    name = "service_delete_salle";
                    foreach (var sse in SsEvents)
                    {
                        txt += sse.nom + ", ";
                    }
                    txt = txt.Substring(0, txt.Length - 2);
                }
                <tr>
                    <td>@s.nomService</td>
                    <td>
                        @if (IsGranted(PermissionNames.GererSalle))
                        {
                            <button data-evenements="@txt" name=@name value="@s.noService" class="btn btn-danger btn-sm" title="Supprimer le service offert"><i class="fa fa-trash fa-lg"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="~/Salles/" class="btn btn-default pull-right" data-dismiss="modal">Retour à la liste des salles</a>

@*Modal pour le choix d'un service requis*@
<div class="modal fade" id="ServiceAjoutModal" tabindex="-1" role="dialog" aria-labelledby="ServiceAjoutModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm(new { @return = Request.QueryString["return"] }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Choisir un service</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nom du service</th>
                                <th data-sorter="false">Sélection</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var s in ViewBag.ServiceAjoutable)
                            {
                                {
                                    <tr>
                                        <td>@s.nomService</td>
                                        <td><button name="service" value="@s.noService" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            }
        </div>
    </div>
</div>
