@model ECJ.Web.Models.tblAppelOffre

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblAppelOffre</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dateRequis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dateRequis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dateEnvoi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dateEnvoi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dateSupprime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dateSupprime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblEvenement.nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblEvenement.nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblStatutAppelOffre.nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblStatutAppelOffre.nom)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.noAppelOffre }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
