@using Abp.Web.Mvc.Extensions
@model ECJ.Web.Models.AbpUsers
@{
    ViewBag.Title = "Edit";
}

@section scripts{
    @Html.IncludeScript("~/Views/Profil/Edit.js")
}

<h2>Modifier mon profil</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label>Entrez un mot de passe</label>
        <input class="form-control PasswordChange" type="password" name="PasswordChange" id="PasswordChange" minlength="8">
    </div>

    <div class="form-group">
        <label>Écrire à nouveau le mot de passe</label>
        <input class="form-control PasswordChange2" type="password" name="PasswordChange2" id="PasswordChange2" minlength="8">
    </div>

    if(Model.ImageProfil == null)
    {
        <label>Aucune image de profil</label>
        <div class="form-group">
            <label>Changer l'image de profil</label>
            <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
        </div>
    }
    else
    {
        <img width="200" src="@Url.Action("GetFile","profil", new { id = Model.Id})" alt="Image de profil" />
        <div class="form-group">
            <label>Changer l'image de profil</label>
            <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
        </div>
    }


    if (ViewBag.UtilisateurCourrant != null)
    {
        <div class="form-group">
            <label>Question  secrète </label>
            @Html.DropDownList("NoQuestion", (SelectList)ViewBag.Question, new { @class = "form-control", name = "NoQuestion" })
            <input class="form-control reponse" type="text" name="Reponse" >
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Question  Secrète </label>
            @Html.DropDownList("NoQuestion", (SelectList)ViewBag.Question, new { @class = "form-control", name = "NoQuestion" })
            <input class="form-control reponse" type="text" name="Reponse" >
        </div>
    }

    <div class="form-group pull-right">
        <button class="btn btn-primary blue valid"><i class="fa fa-save"></i> <span>Confirmer</span></button>
        <a href="/Projet2016/Equipe2/" class="btn btn-default" data-dismiss="modal">Annuler</a>
    </div>
}