@model ECJ.Web.Models.tblAppelOffre


<h2>Détail de l'appel d'offre</h2>

<form name="createPub" role="form" novalidate class="form-validation">

    <div class="form-group">
        <label>Événement</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.tblEvenement.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Nom</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Média</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.tblMedia.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Date d'envoi</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.dateEnvoi, new { @class = "dp" })
        </div>
    </div>
    <div class="form-group">
        <label>Date requise</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.dateRequis, new { @class="dp"})
        </div>
    </div>

    <div class="form-group">
        <label>Statut</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.tblStatutAppelOffre.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Agence de publicité</label>
        <div class="well well-sm">
          @foreach(var agenPub in ViewBag.agencePub)
          {
              <span>@agenPub.nom</span><br />
          }
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.description)
        </div>
    </div>
    <br />
    <label>Soumissions</label>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Commentaire</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var soumi in Model.tblSoumission)
                {

                    <tr>
                        <td>@Model.nom</td>
                        @if (soumi.statut==1)
                        {
                            <td>Acceptée</td>
                        }
                        else
                        {
                            if (soumi.statut == 0)
                            {
                                <td>Réfusée</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        }
                        <td>@soumi.commentaire</td>
                        <td>
                            @if (Model.tblStatutAppelOffre.nom == "Complété" || Model.tblStatutAppelOffre.nom=="Annulé")
                            {
                                <a href="/Soumission/Accepter/@soumi.noSoumission" class="btn btn-sm btn-primary" title="Accepter" onclick="return false;" style="cursor:not-allowed"><i class="fa fa-check-circle fa-lg"></i></a>
                                <a href="/Soumission/Refuser/@soumi.noSoumission" class="btn btn-sm btn-danger" title="Refuser" onclick="return false;" style="cursor:not-allowed"><i class="fa fa-times fa-lg"></i></a>
                            }
                            else
                            {
                                <a href="/Soumission/Accepter/@soumi.noSoumission" class="btn btn-sm btn-primary" title="Accepter"><i class="fa fa-check-circle fa-lg"></i></a>
                                <a href="/Soumission/Refuser/@soumi.noSoumission" class="btn btn-sm btn-danger" title="Refuser"><i class="fa fa-times fa-lg"></i></a>
                            }
                            <a href="/Soumission/Detail/@soumi.noSoumission" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <br />
    <a href="/AppellOffre/Index" class="btn btn-default pull-right " data-dismiss="modal">Retour</a>

</form>

