@using Abp.Web.Mvc.Extensions
@model ECJ.Web.Models.tblAppelOffre

@section scripts
{
    @Html.IncludeScript("~/Views/AppellOffre/Create.js")
}

<h2>Modifier l'appel d'offre</h2>
@using (Html.BeginForm())
{
    <form name="createPub" role="form" novalidate class="form-validation">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.noAppelOffre)
        <div class="form-group">
            <label>Événement</label>
            <div>
                @Html.DropDownList("noEvenement", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.noEvenement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Nom</label>
            <div>
                @Html.TextBoxFor(model => model.nom, new { @class = "form-control", required = "required", @maxlength = "50" })
                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <label>Date d'envoi</label>
            </div>
            <div class="col-md-6">
                <label>Heure d'envoi</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div>
                    @Html.TextBoxFor(model => model.dateEnvoi, new { @class = "form-control dp", required = "required", @Value = Model.dateEnvoi.ToString("yyyy/MM/dd") })
                    @Html.ValidationMessageFor(model => model.dateEnvoi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <input type="number" name="heureEnvoi" required min="0" max="24" placeholder="Heure" maxlength="2" class="form-control" value="@Model.dateEnvoi.Hour" />
            </div>
            <div class="col-md-2">
                <input type="number" name="minEnvoi" required min="0" max="59" placeholder="Minute" maxlength="2" class="form-control" value="@Model.dateEnvoi.Minute" />
            </div>
            <div class="col-md-2">
                <input type="number" name="secondeEnvoi" min="0" max="59" placeholder="Seconde" maxlength="2" class="form-control" value="@Model.dateEnvoi.Second" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <label>Date requise</label>
            </div>
            <div class="col-md-6">
                <label>Heure requise</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.dateRequis, new { @class = "form-control dp", required = "required", @Value = Model.dateRequis.ToString("yyyy/MM/dd") })
                @Html.ValidationMessageFor(model => model.dateRequis, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                <input type="number" name="heureRequise" required min="0" max="24" placeholder="Heure" maxlength="2" class="form-control" value="@Model.dateRequis.Hour" />
            </div>
            <div class="col-md-2">
                <input type="number" name="minRequise" required min="0" max="59" placeholder="Minute" maxlength="2" class="form-control" value="@Model.dateRequis.Minute" />
            </div>
            <div class="col-md-2">
                <input type="number" name="secondeRequise" min="0" max="59" placeholder="Seconde" maxlength="2" class="form-control" value="@Model.dateRequis.Second" />
            </div>

        </div>
        <hr />
        <div class="form-group">
            <label>Media</label>
            <div>
                @Html.DropDownList("noMedia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.noMedia, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                <label>Agence de publicité</label>
                <div>
                    <select id="agencePub" class="form-control" multiple="multiple" name="noAgencePub" size="15">
                        @foreach(var agence in ViewBag.AllAgence)
                        {
                            if (ViewBag.AgenceParAppel.Contains(agence))
                            {
                                <option selected value="@agence.noAgencePub">@agence.nom</option>
                            }
                            else
                            {
                                <option value="@agence.noAgencePub">@agence.nom</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <div>
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <br /><br /><br />
            <div class="pull-right">
                <button class="btn btn-primary blue valid" type="submit" value="Save" name="save" onclick="return IsAgenceSelect(this) == false"><i class="fa fa-save"> </i> Sauvegarder en Création</button>
                <button class="btn btn-primary blue valid" value="Soumettre" name="save" onclick="return IsAgenceSelect(this) == true"><i class="fa fa-paper-plane"> </i> Sauvegarder et Soumettre</button>
                <a href="~/AppellOffre/Index" class="btn btn-default" data-dismiss="modal">Annuler</a>
            </div>
</form>

}
