@model List<ECJ.Web.Models.vueSomAppelOffre>
@{ 
    ViewBag.ActiveMenu = "AppellOffre";
}
<div class="row">
    <div class="col-md-12">
       
              @using (Html.BeginForm("Index", "AppellOffre", FormMethod.Get,new{ @class = "page-header" }))
              {
                        <p>
                            @Html.Editor("SearchString", new { htmlAttributes = new { @class = "form-control" } }) 
                            <span class="input-group-btn">
                                <button class="btn btn-primary pull-right" type="submit">Rechercher</button>
                            </span>                        
                        </p>
                    }

                

        <br />
                    
        <a href="/AppellOffre/Create" data-toggle="modal" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i>Ajouter</a>
        <table class="table" align="center">
            <thead>
                <tr>
                    <th>
                        Nom de l'appel d'offre
                    </th>
                    <th>
                        Date requise
                    </th>
                    <th>
                        Date d'envoi
                    </th>
                    <th>
                        Événement
                    </th>
                    <th>
                        Statut
                    </th>
                    <th>
                        Agence de publicité
                    </th>
                    <th>
                        Soumission
                    </th>
                    <th>
                        Description
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    var @color = "#" + item.couleur;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomAppelOffre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateRequis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateEnvoi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomEvent)
                        </td>
                        <td>
                            <div id="colorStatut" style="background-color:@color">  </div>
                        </td>
                        <td> 
                            @Html.DisplayFor(modelItem => item.nomAgence)                                  
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomSoumission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            <a href="/AppellOffre/Details/@item.noAppelOffre" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                            @if (item.noStatut==3 || item.noStatut==4)
                            {
                                <a href="/AppellOffre/Edit/@item.noAppelOffre" class="btn btn-sm btn-primary" title="Modifier" id="AppelComplete" onclick="return false;" style="cursor:not-allowed"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="/AppellOffre/Delete/@item.noAppelOffre" class="btn btn-sm btn-danger" title="SupprimerAppel" onclick="return false;" style="cursor:not-allowed"><i class="fa fa-trash fa-lg"></i></a>

                            }
                            else
                            {
                                <a href="/AppellOffre/Edit/@item.noAppelOffre" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="/AppellOffre/Delete/@item.noAppelOffre" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>

                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
 </div>
</div>
<br />
<br />
<button class="btn btn-default pull-right " data-dismiss="modal" onclick="javascript:window.location.reload()">Mettre à jour les soumisions</button> >