@model IEnumerable<ECJ.Web.Models.tblAppelOffre>
<div class="row">
    <div class="col-md-12">
       
              @using (Html.BeginForm("Index", "AppellOffre", FormMethod.Get))
              {
                        <p>
                            @Html.TextBox("SearchString") 
                            <span class="input-group-btn">
                                <button class="btn btn-primary pull-right" type="submit">Rechercher</button>
                            </span>                        
                        </p>
                    }

                

        <br />
                    
        <a href="/AppellOffre/Create" data-toggle="modal" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i>Ajouter</a>
        <table class="table" align="center">
            <tr>
                <th>
                   Nom de l'appel d'offre
                </th>
                <th>
                    Date requise
                </th>
                <th>
                   Date d'envoie
                </th>
                <th>
                   Évènement
                </th>
                <th>
                    Statut
                </th>
                <th>
                    Agence de publicité
                </th>
                <th>
                    Soumission
                </th>
                <th>
                    Description
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateRequis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateEnvoi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblEvenement.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblStatut1.nom)
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        <a href="/AppellOffre/Details/@item.noAppelOffre" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                        <a href="/AppellOffre/Edit/@item.noAppelOffre" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="/AppellOffre/Delete/@item.noAppelOffre" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            }

        </table>
 </div>
</div>