@model ECJ.Web.Models.tblCommanditaire

@{
    ViewBag.Title = "Create";
}

<h2>Commanditaires</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.nomCommanditaire, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomCommanditaire, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "25", @minlength = "2" } })
                    @Html.ValidationMessageFor(model => model.nomCommanditaire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nomContact, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomContact, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "25", @minlength = "2" } })
                    @Html.ValidationMessageFor(model => model.nomContact, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.logo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="ImageFile" type="file" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control", @type = "email", @minlength = "2" } })
                    @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.textePresentation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.textePresentation, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                    @Html.ValidationMessageFor(model => model.textePresentation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courrielContact, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courrielContact, new { htmlAttributes = new { @class = "form-control", @type = "email", @maxlength = "255", @minlength = "2" } })
                    @Html.ValidationMessageFor(model => model.courrielContact, "", new { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numTel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.numTel, new { htmlAttributes = new { @class = "form-control", @type = "number", @maxlenght = "10", @min = "2" } })
                    @Html.ValidationMessageFor(model => model.numTel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.extension, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.extension, new { htmlAttributes = new { @class = "form-control", @type = "tel", @maxlength = "5" } })
                    @Html.ValidationMessageFor(model => model.extension, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>

        <div>
            <a href="/Commanditaire/Index" class="btn btn-sm btn-primary" title="Index"> Retourner à la liste</a>
        </div>
    </fieldset>
}