@model ECJ.Web.Models.tblCommanditaire

@{
    ViewBag.Title = "Details";
}

<h2>Commanditaires</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>
    <div>
        <h4>Commanditaire</h4>

        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nomCommanditaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomCommanditaire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nomContact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomContact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.logo)
            </dt>

            <dd>
                @if (Model.logo == null)
                {
                    <p>null</p>
                }
                else
                {           
                    <img width="200" src="@Url.Action("GetFile","commanditaire", new { id = Model.noCommanditaire})" alt="Logo" />
                }
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.url)
            </dt>

            <dd>
                @if (Model.url == null)
                {
                    <p>null</p>
                }
                else
                {
                    <a href="@Model.url">@Model.url</a>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.textePresentation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.textePresentation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.courrielContact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.courrielContact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numTel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numTel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.extension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.extension)
            </dd>

        </dl>
    </div>
    <p>
        <a href="/Commanditaire/Edit/@Model.noCommanditaire" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
        <a href="/Commanditaire/Index" class="btn btn-sm btn-primary" title="Index"> Retourner à la liste</a>
    </p>
</body>
</html>