@model ECJ.Web.Models.tblCommanditaire

@{
    ViewBag.Title = "Details";
}

<h2>Commanditaires</h2>

    <div>
    <h4>Commanditaire</h4>

    <div class="form-group">
        <label>Nom du commanditaire</label>
        <div class="well well-sm">
            @Model.nomCommanditaire
        </div>
    </div>

    <div class="form-group">
        <label>Nom du contact</label>
        <div class="well well-sm">
            @Model.nomContact
        </div>
    </div>

    <div class="form-group">
        <label>Affiche</label>
        <div class="well well-sm">
            @if (Model.logo == null)
            {
                <span>Aucune affiche</span>
            }
            else
            {
                <img width="200" src="@Url.Action("GetFile","commanditaire", new { id = Model.noCommanditaire})" alt="Logo" />
            }
        </div>
    </div>

        <div class="form-group">
            <label>Lien hypertexte</label>
            <div class="well well-sm">
                @if (Model.url != null)
            {
                    <a href="@Model.url" target="_blank"><i class="fa fa-globe fa-3x"></i><i class="fa fa-external-link"></i></a>
                }
                else
                {
                    <span>Aucun lien n'a été fourni</span>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div class="well well-lg">
                @Model.textePresentation
            </div>
        </div>

        <div class="form-group">
            <label>Courriel</label>
            <div class="well well-sm">
                @Model.courrielContact
            </div>
        </div>

        <div class="form-group">
            <label>Numéro de téléphone</label>
            <div class="well well-sm">
                @Model.numTel
            </div>
        </div>

        <div class="form-group">
            <label>Extension</label>
            <div class="well well-sm">
                @Model.extension
            </div>
        </div>
</div>
<a href="~/Commanditaire/Index" class="btn btn-default pull-right" data-dismiss="modal">Retour à la liste de commanditaire</a>