@{
    ViewBag.Title = "Ajout";
}
@model ECJ.Web.Models.tblCommanditaire

<h2>Modifier un Commanditaire</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" name="noCommanditaire" value="@Model.noCommanditaire">

    <div class="form-group">
        <label>Nom Commanditaire</label>
        <input class="form-control" type="text" name="nomCommanditaire" value="@Model.nomCommanditaire" required>
    </div>

    <div class="form-group">
        <label>Contact</label>
        <input class="form-control" type="text" name="nomContact" value="@Model.nomContact" required>
    </div>

    if (Model.logo != null)
    {
        <div class="form-group">
            <label>Supprimer le logo?</label>
            <input type="checkbox" name="SupprimerAffiche" value="1" />
        </div>

        <div class="form-group">
            <label>Modifier le logo (laisser vide pour garder l'ancien)</label>
            <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Ajouter une affiche</label>
            <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
        </div>
    }

    <div class="form-group">
        <label>Lien hypertexte</label>
        <input class="form-control url" type="text" name="url" value="@Model.url">
    </div>

    <div class="form-group">
        <label>Texte de présentation :</label>
        <textarea class="form-control" rows="5" id="textArea" name="textePresentation">@Model.textePresentation</textarea>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control courriel" type="email" name="courrielContact" value="@Model.courrielContact" required>
    </div>

    <div class="form-group">
        <label>Numero de téléphone</label>
        <input class="form-control tel" type="text" name="numTel" value="@Model.numTel" required>
    </div>

    <div class="form-group">
        <label>Poste</label>
        <input class="form-control poste positif" type="text" name="extension" maxlength="5" value="@Model.extension">
    </div>

    <div class="form-group pull-right">
        <button type="submit" class="btn btn-primary blue valid"><i class="fa fa-save"></i> <span>Enregistrer</span></button>
        <a href="~/Commanditaire" class="btn btn-default" data-dismiss="modal">Annuler</a>
    </div>
}