@model IEnumerable<ECJ.Web.Models.tblCommanditaire>

@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Commanditaires";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <table class="col-md-12">
            <form class="page-header">
                <div class="input-group">
                    <input class="form-control" type="search">
                    <span class="input-group-btn">
                        <button class="btn btn-primary pull-right" type="button">Rechercher</button>
                    </span>
                </div>
            </form>
            <a href="/tblCommanditaires/Create" data-toggle="modal" class="btn btn-primary  pull-right"><i class="fa fa-plus"></i>Ajouter</a>
            <table class="table" align="center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nomCommanditaire)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nomContact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.courrielContact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.numTel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.extension)
                        </th>
                        <th>
                            Montant
                        </th>
                        <th>
                            Rang
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomCommanditaire)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.courrielContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.numTel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.extension)
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            or
                        </td>
                        <td>
                            <a href="/tblCommanditaires/Details/@item.noCommanditaire" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                            <a href="/tblCommanditaires/Edit/@item.noCommanditaire" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                            <a href="/tblCommanditaires/Delete/@item.noCommanditaire" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </table>
    </div>
</body>
</html>