@model ECJ.Web.Models.tblSoumission
<h2>Détail de la soumission</h2>

<form name="createPub" role="form" novalidate class="form-validation">

    <div class="form-group">
        <label>Numéro de la Soumission</label>
        <div class="well well-sm">
            @Html.DisplayFor(model=> model.noSoumission)
        </div>
    </div>

    <div class="form-group">
        <label>Numéro de l'agence</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.noSoumissionAgence)
        </div>
    </div>

    <div class="form-group">
        <label>Nom de l'appel d'offre relié à la soumission</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.tblAppelOffre.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Nom de l'agence  reliée à la soumission</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.tblAgencePublicite.nom)
        </div>
    </div>

    <div class="form-group">
        <label>Prix</label>
        <div class="well well-sm">
            @if (Model.prix!=null || Model.prix.ToString()=="0.00")
            {
                @Html.DisplayFor(model => model.prix)<span> $</span>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Commentaire</label>
        <div class="well well-sm">
            @Html.DisplayFor(model => model.commentaire)
        </div>
    </div>

    <div class="form-group">
        <label>Statut de la soumission</label>
        <div class="well well-sm">
            @if(Model.statut==1)
            {
                <span>Acceptée</span>
            }
            else
            {
                if (Model.statut == 0)
                {
                    <span>Réfusée</span>
                }
                else
                {
                    <span></span>
                }
            }
   
        </div>
    </div>
    <br />    
    <br />
    <a href="~/AppellOffre/Details/@Model.noAppelOffre" class="btn btn-default pull-right " data-dismiss="modal">Retour à l'appel d'offre parent</a>

</form>