@model ECJ.Web.Models.tblActivite
@{
    ViewBag.Title = "Details";
}

    <div>
        <h4>Activite</h4>

        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nomResponsable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomResponsable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.etat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.etat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dateCreation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dateCreation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tache)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tache)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.detail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => "nom Evenement/ nom de sous-evenements")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.noEvenement)
                @Html.DisplayFor(model => model.noSousEvenement)
            </dd>

        </dl>
    </div>
    <p>
        <a href="/Activite/Index" class="btn btn-sm btn-primary" title="Index"> Retourner à la liste</a>
    </p>
