@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model IEnumerable<ECJ.Web.Models.tblActivite>
@{
    ViewBag.Title = "Activite";
    ViewBag.ActiveMenu = "Activite";
    string etat = "";
}
<div>
    <h1>Activité</h1>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "page-header" }))
            {

                <div class="input-group">
                    <input class="form-control" type="text" name="SearchString" value="@ViewBag.SearchString">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">Rechercher</button>
                    </span>
                </div>
            }
            <a href="/Activite/Ajout" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Créer un activité</a>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom du responsable</th>
                        <th>Tâche</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model)
                    {
                        if (e.dateSupprime == null)
                        {
                            if (e.etat == 0)
                            {
                                etat = "";
                            }
                            else
                            {
                                etat = "warning";
                            }

                        <tr class="@etat">
                            <td>@e.nomResponsable</td>
                            <td>@e.tache</td>
                            <td>@String.Format("{0:yyyy/MM/dd}", e.dateCreation)</td>
                            <td>
                                @if (e.etat == 0)
                                {
                                    <a href="/Activite/Modifier/@e.noActivite" class="btn btn-sm btn-primary" title="Modifier">non réalisé</a>
                                }
                                else
                                {
                                    <a href="/Activite/Modifier/@e.noActivite" class="btn btn-sm btn-primary" title="Modifier">réalisé</a>
                                }
                            </td>
                            <td>
                                <a href="/Activite/Detail/@e.noActivite" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="/Activite/Supprimer/@e.noActivite" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
