@{
    ViewBag.Title = "Ajout";
}
@model ECJ.Web.Models.tblActivite

<h2>Activite</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <input type="hidden" name="noActivite" value="@Model.noActivite">
        <div class="form-group">
            <label>Nom du responsable</label>
            <input class="form-control" type="text" name="nomResponsable" value="@Model.nomResponsable" required>
        </div>
        <div class="form-group">
            <label>Statut</label>
            <input class="form-control" type="number" max="1" min="0" name="etat" value="@Model.etat" required>
        </div>

        <div class="form-group">
            <label>Date de Création</label>
            <input class="form-control dp" type="text" name="dateCreation" value="@String.Format("{0:yyyy/MM/dd}", Model.dateCreation)" required>
        </div>

        <div class="form-group">
            <label>Tâches</label>
            <input class="form-control" type="text" name="tache" value="@Model.tache">
        </div>

        <div class="form-group">
            <label>Details</label>
            <input class="form-control" type="text" name="detail" value="@Model.detail" required>
        </div>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>Enregistrer</span></button>
            <a onclick="window.history.back()" class="btn btn-default" data-dismiss="modal">Annuler</a>
        </div>
    </div>
}